@import 'prep'

*
	font-family: $bodyfont
	user-select: none

body
	margin: 0
	padding: 0
	background: #222

.wrapper
	margin: 100px auto

h1
	text-align: center
	margin: 0 0 10px 0
	color: $hcolor

.gamewindow
	background-color: $boardbg
	@include border-outset(3px)

.cred
	margin: 10px 0
	text-align: center
	color: $hcolor
	a, a:visited
		color: $hcolor
		text-decoration: none
	a:hover
		color: lighten($hcolor, 20)
	.fa-copyright
		transform: rotate(180deg)
		font-size: 0.9em

.stats
	@include border-inset(3px)
	margin: 7px
	padding: 5px
	text-align: center
	&:after 
		visibility: hidden
		display: block
		content: ""
		clear: both
		height: 0
	button
		height: 25px
		width: 25px

.counter
	background: #000
	height: 25px
	width: 40px
	@include border-inset(1px)
	color: #fc0005
	overflow: hidden
	font-size: 1.75em
	line-height: 0.9em

#mines
	float: left
#time
	float: right

.minefield
	margin: 7px
	@include border-inset(3px)

.brick
	float: left
	margin: 0
	padding: 0
	overflow: hidden
	text-align: center
	&-closed
		width: 16px
		height: 16px
		@include border-outset(2px)
		cursor: pointer
	&-open
		width: 19px
		height: 19px
		@include border-grid()
	&-boom
		background: $red

.menu
	margin: 5px 7px 7px 7px
	text-align: center
	p
		margin: 5px 0 0 0

.btn
	background-color: $boardbg
	@include border-outset(2px)
	margin: 0
	display: inline-block
	outline: none
	&-restart
		font-size: 1.2em
		line-height: 1em
		i
			margin: -3px 0 0 -3px
	&:active
		@include border-inset(2px)

.flag
	color: #fc0005
	font-size: 0.8em
	line-height: 0.7em	

@each $i, $color in $numbercolors
	[data-number="#{$i}"]
		color: #{$color}